<!DOCTYPE html>
<html>
<head>
  <title>Page d'informations</title>
  <link rel="stylesheet" type="text/css" href="information.css">
</head>
<body>
  <h1>Informations</h1>

  <p>Fast-one a été développé dans le cadre d'un projet scolaire fictif par Danish Anwar Chaudhry, un étudiant en MMI (Métiers du Multimédia et de l'Internet). Le but principal de ce projet était de mettre en pratique les connaissances et les compétences acquises tout au long de sa formation. </p>

  <h2>Mention légale </h2>

  <p>Utilisation des informations personnelles :
    Nous utilisons les informations personnelles pour fournir nos services, communiquer avec les clients et améliorer nos activités. Cela comprend le traitement des transactions, la gestion des comptes clients, la réponse aux demandes de renseignements et aux demandes, et l'envoi d'offres promotionnelles ou de communications marketing. Les clients peuvent refuser de recevoir ces communications à tout moment. Nous pouvons également utiliser des informations personnelles pour nous conformer aux exigences légales, résoudre des litiges et appliquer nos politiques.</p>

  <p>Partage des informations personnelles :
    Nous pouvons partager des informations personnelles avec des prestataires de services tiers qui nous aident dans nos opérations commerciales, telles que le traitement des paiements ou l'hébergement de sites Web. Nous exigeons de ces prestataires de services qu'ils maintiennent la confidentialité et la sécurité des informations personnelles. Nous ne vendons pas d'informations personnelles à des tiers à des fins de marketing.</p>

  <p>Protection des informations personnelles :
    Nous prenons la sécurité des informations personnelles au sérieux et utilisons des mesures standard de l'industrie pour nous protéger contre l'accès, la divulgation ou la destruction non autorisés. Nous maintenons des mesures de protection physiques, techniques et administratives pour protéger les informations personnelles contre la perte, le vol, l'utilisation abusive ou l'accès non autorisé, la divulgation, l'altération ou la destruction.p>

  <p>Conservation des informations personnelles :
    Nous ne conservons les informations personnelles que le temps nécessaire pour fournir nos services ou tel que requis par la loi. Nous pouvons conserver les informations personnelles pendant une période plus longue si nécessaire pour nous conformer aux obligations légales ou pour résoudre des litiges.</p>

  <p>Accès et correction des informations personnelles :
    Les clients disposent d'un droit d'accès et de rectification de leurs informations personnelles. Pour ce faire, les clients peuvent nous contacter à l'adresse e-mail ou au numéro de téléphone fournis sur notre site Web. Nous répondrons à toutes les demandes dans un délai raisonnable et conformément à la loi applicable.</p>

  <p>Modifications de la politique de confidentialité :
    Nous pouvons mettre à jour cette politique de confidentialité de temps à autre pour refléter les changements dans nos pratiques commerciales ou nos exigences légales. Nous encourageons les clients à consulter régulièrement cette politique pour rester informés de toute mise à jour.</p>

  <p>Contactez-nous :
    Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez nous contacter via le formulaire fourni sur notre site Web. Nous prenons toutes les demandes au sérieux et répondrons rapidement à toute demande ou préoccupation.
    
    Merci d'avoir choisi Horizon. Nous apprécions votre vie privée et votre confiance.</p>
  
</body>
</html>
